
body{
  height: 100%;
  max-height: 100%;
  background-color: #FFF;
}

header{
  margin-top: -5px;
  width: 30px;
  height: auto;

}
nav {
  background-color: lightgrey;
  height: 50px;
  width: auto;

}
.Last{
  margin-left: 10px;
  color: black;
}
.btn-primary {
  float: right;
  margin-top: 3px;
  margin-left: 50px;
  margin-bottom: 5px;
  margin-right: 50px;
  color: white;
}
#city{
  width: 500px;
  margin-top: 10px;
}

.maincolum{
  margin-top: 30px;
  height: 100%;
  padding: 10px;    
}

#colum {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  margin-top: 20px;

}

.poop{
  margin-left: 30px;
  padding: 10px;
}

#logo {
  width: 1400px;
  height: 200px;
  margin-top: -100px;
  margin:0;
  margin-left: -40px;
}

.NewRestroom {
  margin-top: 20px;
  padding: 40px;
}

.HappyToilet {
  margin-top: 70px;
}

#name {
  margin-left: 20px;
  color: light-blue;
}

.btn {
  float: left;
  
}
#map {
	width: 800px;
	height: 500px;
  margin-top: 30px;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
 font-family: Roboto;
 font-size: 13px;
 font-weight: 300;
}



.average_rating {
  color: lightblue;
}


.rating_star {
  float:left;
  list-style: none;
  margin: 5px;
  padding: 5px; 
  padding-bottom: 50px;
  width: 64px;
  height: 64px;
  background: url(/rollempty.png) top left;
  transition: background 0.5s ease-in-out;
} 


.rating_star:hover {
  float:left;
  list-style: none;
  margin: 5px;
  padding: 5px; 
  width: 64px;
  height: 64px;
  background: url(/rollfull.png) top left;
}
